{% extends './abase.html'%}


{% block content %}


<div class="main container">
    <div class="w-25 row mx-auto mt-auto h-100">
        <div class="row text-center mt-3">
            <h1>Log In</h1>
        </div>
        <form method="post" class="form-group" autocomplete="off">
            <div class="form-floating mb-2">
                <input class="form-control form-control-sm" name="username" id="username" required>
                <label for="username">Admin username:</label>
            </div>
            <div class="form-floating mb-2">
                <input class="form-control form-control-sm" type="password" name="password" id="password" required>
                <label for="password">Password</label>
            </div>

            <div class="col-12">
                <button class="btn btn-success" type="submit">Log In</button>
            </div>
        </form>
        <p class="text-muted">Don't have an account? <a style="text-decoration: none;"
                href="{{ url_for('auth.register')}}">Register</a></p>
    </div>
</div>
{% endblock content %}