{% extends './base.html'%}

{% block content%}

<div class="container">
    <h4 class="text-center mb-3">{{ session['username'] }} Your Show bookings</h4>
    {% if bookings|length != 0 %}
    <div class="row text-center">
        <div class="col-3"><strong>Venue</strong></div>
        <div class="col-3"><strong>Show Title</strong></div>
        <div class="col-3"><strong>Number of seats</strong> </div>
        <div class="col-3"><strong>Rate show</strong></div>
    </div>
    {% for b in bookings %}
    <div class="row text-center my-2">
        <div class="col-3">
            {{b.venue_name}}
        </div>
        <div class="col-3">
            {{b.show_title}}
        </div>
        <div class="col-3">
            {{b.num_seats}}
        </div>
        <div class="col-3">
            <p>Your Rating: {{b.user_rating}}</p>
            <a class="btn btn-sm btn-outline-dark"
                href="{{url_for('show_manager.rate', user_id=b.user_id, show_id=b.show_id)}}">Rate</a>
        </div>
    </div>
    {% endfor %}
    {%else%}
    <h2>No Bookings Yet.</h2>
    {% endif%}

</div>
{% endblock content%}